<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[services]], [[autossh]], [[status]])%>', null,
    function(x, data) {
        var tb = document.getElementById('autossh_status');
        if (data && tb) {
            if (data.running) {
                tb.innerHTML = '<em><b><font color=green>AutoSSH <%:RUNNING%></font></b></em>';
            } else {
                tb.innerHTML = '<em><b><font color=red>AutoSSH <%:NOT RUNNING%></font></b></em>';
            }
        }
    }
);
//]]>
</script>
<fieldset class="cbi-section">
    <p id="autossh_status">
        <em><%:Collecting data...%></em>
    </p>
</fieldset>